<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{../../static/css/login.css}"/>

    <!--制作的图标，使用href关联，仅仅需要更改href的内容  -->
    <link rel="shortcut icon" href="../../static/image/logo.ico" type="image/x-icon" />
</head>
<body>
    <form action="/dept/login" method="post">
        <table id="login">
            <tr>
                <td>
                    <label>账号</label>
                </td>
                <td>
                    <input type="text" th:name="username" th:value="username">
                </td>
            </tr>
            <tr>
                <td>
                    <label>密码</label>
                </td>
                <td>
                    <input type="text" th:name="password" th:value="password">
                </td>
            </tr>
            <tr>
                <td id="registerURL">
                    <a href="" >点击注册</a>
                </td>
                <td id="loginButton" align="center">
                    <input type="submit" value="登录">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>